Repository awslabs/sockeye, pull requests merged in 2019-08, with the labels that each got.

#697 Implement Attention-Based Copy Mechanism
  .gitignore
  CHANGELOG.md
  sockeye/__init__.py
  sockeye/arguments.py
  sockeye/constants.py
  sockeye/decoder.py
  sockeye/inference.py
  sockeye/model.py
  sockeye/rnn_attention.py
  sockeye/scoring.py
  sockeye/train.py
  sockeye/training.py
  sockeye/translate.py
  sockeye/vocab.py
  test/unit/test_arguments.py
Labels: feature

#713 Remove attention/alignment functionality
  docs/tutorials/wmt.md
  sockeye/arguments.py
  sockeye/constants.py
  sockeye/inference.py
  sockeye/output_handler.py
  sockeye/scoring.py
  sockeye/translate.py
  sockeye/utils.py
  test/unit/test_arguments.py
  test/unit/test_inference.py
  test/unit/test_output_handler.py
  test/unit/test_utils.py
Labels: sockeye_2

#712 Sockeye 2 Training Update
  CHANGELOG.md
  README.md
  docs/image_captioning.md
  docs/training.md
  requirements/requirements.horovod.txt
  sockeye/arguments.py
  sockeye/constants.py
  sockeye/data_io.py
  sockeye/horovod_mpi.py
  sockeye/loss.py
  sockeye/lr_scheduler.py
  sockeye/optimizers.py
  sockeye/train.py
  sockeye/training.py
  sockeye/utils.py
  sockeye_contrib/autopilot/README.md
  sockeye_contrib/autopilot/__init__.py
  sockeye_contrib/autopilot/autopilot.py
  sockeye_contrib/autopilot/models.py
  sockeye_contrib/autopilot/tasks.py
  sockeye_contrib/autopilot/test.py
  sockeye_contrib/autopilot/third_party.py
  sockeye_contrib/docker/Dockerfile
  sockeye_contrib/docker/README.md
  sockeye_contrib/docker/build.py
  sockeye_contrib/docker/entrypoint.sh
  sockeye_contrib/plot_metrics.py
  test/unit/test_arguments.py
  test/unit/test_decoder.py
  test/unit/test_lr_scheduler.py
  test/unit/test_optimizers.py
Labels: sockeye_2

#711 Sockeye 2 cpdecoder merged
  pytest.ini
  sockeye/arguments.py
  sockeye/checkpoint_decoder.py
  sockeye/constants.py
  sockeye/decoder.py
  sockeye/inference.py
  sockeye/layers.py
  sockeye/model.py
  sockeye/multiprocessing_utils.py
  sockeye/score.py
  sockeye/train.py
  sockeye/training.py
  sockeye/translate.py
  sockeye/utils.py
  test/__init__.py
  test/integration/test_seq_copy_int.py
  test/unit/test_arguments.py
  test/unit/test_decoder.py
  test/unit/test_layers.py
Labels: sockeye_2

#715 An optional time limit for training in seconds
  CHANGELOG.md
  sockeye/__init__.py
  sockeye/arguments.py
  sockeye/constants.py
  sockeye/train.py
  sockeye/training.py
  test/unit/test_arguments.py
Labels: feature

#716 Training time limit for Sockeye 2
  sockeye/arguments.py
  sockeye/constants.py
  sockeye/train.py
  sockeye/training.py
  test/unit/test_arguments.py
Labels: sockeye_2

#717 Only create checkpoint decoder for horovod primary worker
  sockeye/checkpoint_decoder.py
  sockeye/train.py
Labels: sockeye_2

#714 Port custom metrics logger to sockeye_2
  sockeye/train.py
  sockeye/training.py
Labels: sockeye_2

#718 Update to MXNET 1.5.0
  CHANGELOG.md
  docs/setup.md
  requirements/requirements.gpu-cu100.txt
  requirements/requirements.gpu-cu80.txt
  requirements/requirements.gpu-cu90.txt
  requirements/requirements.gpu-cu92.txt
  requirements/requirements.txt
  sockeye/__init__.py
  sockeye/data_io.py
Labels: enhancement

#721 More verbose message about target token counts
  CHANGELOG.md
  sockeye/__init__.py
  sockeye/data_io.py
  test/unit/test_data_io.py
Labels: enhancement

#719 Revised and refactored beam search
  sockeye/arguments.py
  sockeye/beam_search.py
  sockeye/checkpoint_decoder.py
  sockeye/constants.py
  sockeye/data_io.py
  sockeye/inference.py
  sockeye/lexical_constraints.py
  sockeye/model.py
  sockeye/output_handler.py
  sockeye/score.py
  sockeye/scoring.py
  sockeye/train.py
  sockeye/transformer.py
  sockeye/translate.py
  sockeye/utils.py
  sockeye/vocab.py
  test/common.py
  test/integration/test_seq_copy_int.py
  test/system/test_seq_copy_sys.py
  test/unit/test_arguments.py
  test/unit/test_beam_search.py
  test/unit/test_data_io.py
  test/unit/test_inference.py
  test/unit/test_scoring.py
  typechecked-files
Labels: sockeye_2

#722 Sockeye 2 Documentation Update
  CHANGELOG.md
  README.md
  docs/index.md
  docs/sockeye_captioning.bib
  docs/tutorials.md
  docs/tutorials/wmt.md
  docs/tutorials/wmt_large.md
Labels: sockeye_2

#723 Sockeye 2 Training Update
  CHANGELOG.md
  requirements/requirements.horovod.txt
  sockeye/arguments.py
  sockeye/constants.py
  sockeye/data_io.py
  sockeye/optimizers.py
  sockeye/prepare_data.py
  sockeye/train.py
  sockeye/training.py
  sockeye/vocab.py
  sockeye_contrib/docker/Dockerfile
  sockeye_contrib/optimizers/__init__.py
  sockeye_contrib/optimizers/bert_adam.py
  sockeye_contrib/plot_metrics.py
  test/unit/test_arguments.py
  test/unit/test_data_io.py
Labels: sockeye_2

#724 Updated README.md with publications. Added a few TODOs
  README.md
  sockeye/data_io.py
  sockeye/layers.py
Labels: sockeye_2
