Repository awslabs/sockeye, pull requests merged in 2019-11, with the labels that each got.

#745 Add option to suppress creation of logfiles
  sockeye/arguments.py
  sockeye/evaluate.py
  sockeye/lexicon.py
  sockeye/log.py
  sockeye/prepare_data.py
  sockeye/score.py
  sockeye/train.py
  sockeye/translate.py
  sockeye/vocab.py
  test/unit/test_arguments.py
Labels: sockeye_2

#747 Set ParallelModel threads to daemons, nicer parameter printing, re-enable tensorboard logging
  sockeye/parallel.py
  sockeye/training.py
  sockeye/utils.py
Labels: sockeye_2

#753 Fix data prep arguments
  CHANGELOG.md
  sockeye/__init__.py
  sockeye/arguments.py
Labels: bug

#751 Log versions for sockeye-prepare-data
  sockeye/prepare_data.py
Labels: sockeye_2

#756 Made mxnet random seeding device-independent.
  sockeye/train.py
  sockeye/utils.py
Labels: sockeye_2

#759 Custom Metric logging update
  sockeye/training.py
Labels: enhancement, sockeye_2

#760 Use mx.context.gpu_memory_info() to retrieve memory usage
  sockeye/utils.py
Labels: enhancement, sockeye_2
