Repository awslabs/sockeye, pull requests merged in 2020-01, with the labels that each got.

#766 Updates to sockeye 2
  sockeye/beam_search.py
  sockeye/decoder.py
  sockeye/layers.py
  sockeye/model.py
  sockeye/train.py
  sockeye/transformer.py
  sockeye/utils.py
Labels: enhancement, sockeye_2

#767 Fix for system tests
  test/system/test_seq_copy_sys.py
Labels: bug, sockeye_2

#768 Sparse gradient arrays for embeddings
  sockeye/decoder.py
  sockeye/encoder.py
  sockeye/model.py
  sockeye/train.py
Labels: enhancement, sockeye_2

#770 Version bump
  CHANGELOG.md
  sockeye/__init__.py
  sockeye/encoder.py
Labels: bug, sockeye_2

#777 Add more papers using Sockeye
  README.md
Labels: sockeye_2

#776 Multilingual tutorial
  docs/tutorials/multilingual.md
  docs/tutorials/multilingual/add_tag_to_lines.py
  docs/tutorials/multilingual/prepare-iwslt17-multilingual.sh
  docs/tutorials/multilingual/remove_tag_from_translations.py
Labels: feature
