Repository awslabs/sockeye, pull requests merged in 2020-04, with the labels that each got.

#798 Sockeye 2 Inference Optimizations
  CHANGELOG.md
  sockeye/__init__.py
  sockeye/beam_search.py
  sockeye/constants.py
  sockeye/decoder.py
  sockeye/inference.py
  sockeye/layers.py
  sockeye/model.py
  test/unit/test_beam_search.py
Labels: enhancement, sockeye_2

#802 Fix log message about source factors
  sockeye/train.py
Labels: sockeye_2

#803 Dockerfile for CPU-optimized Sockeye image
  CHANGELOG.md
  sockeye/__init__.py
  sockeye_contrib/docker/Dockerfile.cpu
  sockeye_contrib/docker/README.md
  sockeye_contrib/docker/build_cpu_optimized.py
Labels: feature, sockeye_2

#806 Update papers with Sockeye
  README.md
Labels: sockeye_2
